@charset "utf-8";
/* main {
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
main > div {
    scroll-snap-align: center;
} */
.logo h2 {
    color: #604CC3;
}
.logo h2 span {
    color: #ffbf00;
}
.main_visual {
    width: 100%;
    height: 100vh;
    position: relative;
}
.main_visual .main_bg {
    width: 100%;
    height: 100%;
}
.main_visual .main_bg img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
}
.main_visual_title {
    width: 100%;
    text-align: center;
    position: absolute;
    color: var(--web-black-color);
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    font-size: 22em;
    font-family: var(--black-han);
    color: #604CC3;
}
.main_visual_title em {
    color: #ffbf00;
}
.project_all {
    width: 100%;
    height: 100vh;
}
.project {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20vh;
}
.txt_box {
    width: 100%;
    border-top: 2px solid var(--web-black-color);
    height: 128px;
    font-size: 120px;
    padding: 0 48px;
    transition: 0.5s;
    line-height: 2em;
    position: relative;
    background: var(--web-white-color);
    font-family: var(--eng-font);
}
.txt_box img {
    position: absolute;
    margin-left: 48px;
    top: 0;
    transition: 0.5s;
    opacity: 0;
}
.txt_box:nth-child(1) img {
    right: 100px;
}
.txt_box:nth-child(1):hover {
    flex: 1;
    line-height: 2.2em;
    background: #4CC9FE;
    color: var(--web-white-color);
    background: url(../img/sum41_hover_bg.png);
    text-shadow: 0px 0px 20px #000;
}
.txt_box:nth-child(1):hover img {
    top: -100px;
    opacity: 1;
}
.txt_box:nth-child(2):hover {
    flex: 1;
    line-height: 2.2em;
    background: url(../img/hanchanboo_hover_bg.png);
    color: var(--web-white-color);
}
.txt_box:nth-child(2) img {
    right: 48px;
}
.txt_box:nth-child(2):hover img {
    right: 48px;
    top: -50px;
    opacity: 1;
}
.txt_box:nth-child(3):hover {
    flex: 1;
    line-height: 2.2em;
    background: linear-gradient(90deg, #DB3594 0%, #A750C9 67%, #1AFEF1 100%);
    color: var(--web-white-color);
    text-shadow: 0px 0px 20px #2427E2;
}
.txt_box:nth-child(3) img.statue {
    position: absolute;
    right: 250px;
    top: -50px;
    width: 300px;
}
.txt_box:nth-child(3):hover img.statue {
    top: -100px;
    opacity: 1;
}
.txt_box:nth-child(3) img.pillar1 {
    position: absolute;
    left: 0px;
    top: -50px;
    height: 390px;
}
.txt_box:nth-child(3):hover img.pillar1 {
    opacity: 1;
    top: -100px;
}
.txt_box:nth-child(4) {
    height: 210px;
}
.greetings {
    width: 100%;
    height: 100vh;
    position: relative;
}
.gr_txtbox {
    width: 1200px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    border: 3px solid var(--web-black-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 72px;
    background: var(--web-white-color);
    z-index: 1;
}
.gr_txtbox h2 {
    font-size: 72px;
    font-family: var(--notosans-font);
    font-weight: 600;
}
.gr_txtbox p {
    font-size: 24px;
    font-family: var(--notosans-font);
    font-weight: 300;
}
.greetings::before {
    content: '';
    width: 1200px;
    height: 560px;
    background: #563A9C;
    position: absolute;
    border-radius: 40px;
    left: 52%;
    top: 55%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.left_eye {
    width: 200px;
    height: 100px;
    position: relative;
    left: 42.5%;
    transform: translateX(-50%);
    top: 12%;
}
.round {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 24px solid #604CC3;
    position: absolute;
    top: 0;
    left: 0;
}
.wink {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #604CC3;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: wink_ani 2s infinite alternate;
}
@keyframes wink_ani {
    0% {
        height: 100px;
    }
    95% {
        height: 100px;
    }
    100% {
        height: 0px;
    }
}
.roll {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #604CC3;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: roll_ani 6s infinite;
}
@keyframes roll_ani {
    0% {
        top: 90%;
        left: 50%;
    }
    25% {
        left: 60%;
        top: 75%;
    }
    50% {
        left: 35%;
        top: 70%;
    }
    75% {
        left: 40%;
        top: 90%;
    }
    100% {
        top: 90%;
        left: 50%;
    }
}
.right_eye {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 57.5%;
    transform: translateX(-50%);
    top: 12%;
}
.punk_logo {
    position: absolute;
    transform: rotate(-30deg);
    z-index: 1;
    left: 9%;
    top: 60%;
    transition: 0.4s;
}
.punk_logo:hover {
    left: 7%;
    transform: rotate(-60deg);
}
.greetings_flower {
    position: absolute;
    right: 12%;
    top: 15%;
    animation: flower_rotate 10s infinite linear;
    z-index: 2;
}
.cloneCoding {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.cl_container {
    width: calc(100vw - 96px);
    height: 100vh;
    margin: 0 auto;
    padding-top: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.cl_txtbox {
    width: 725px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.cl_txtbox h6 {
    font-family: var(--eng-bold-style);
    font-size: 40px;
}
.cl_txtbox h2 {
    font-family: var(--eng-bold-style);
    font-size: 64px;
}
.cl_txtbox p {
    font-family: var(--notosans-font);
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px;
}
.cl_txtbox i {
    font-size: 40px;
}
.cl_imgbox {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.cl_img1, .cl_img5 {
    width: 528px;
    height: 225px;
    border-radius: 24px;
    box-sizing: border-box;
}
.cl_img3 {
    width: 960px;
    height: 225px;
    border-radius: 24px;
    box-sizing: border-box;
}
.cl_img2, .cl_img4 {
    width: 400px;
    height: 225px;
    border-radius: 24px;
    box-sizing: border-box;
}
.cl_bottom {
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    box-sizing: border-box;
}
.cl_bottom a {
    display: block;
    font-family: var(--eng-bold-style);
    font-size: 24px;
    color: var(--web-white-color);
    background: var(--web-black-color);
    padding: 16px 40px;
    border-radius: 32px;
}
.contact {
    width: 100%;
    height: 100vh;
    padding-top: 72px;
    box-sizing: border-box;
    position: relative;
}
.ct_txtbox {
    width: 795px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}
.ct_txtbox img {
    position: absolute;
    right: -30%;
    top: -40%;
}
.ct_txtbox h2 {
    font-size: 128px;
    font-family: 'KLORE';
}
.ct_txtbox p {
    font-size: 48px;
    font-family: var(--notosans-font);
    font-weight: 300;
    letter-spacing: -1px;
}
.ct_txtbox a {
    font-family: var(--eng-bold-style);
    font-size: 32px;
}
.ct_bottom {
    width: 100%;
    height: 200px;
    background: #604CC3;
    padding: 0 128px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ct_bottom > a {
    display: block;
}
.sns {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.sns a {
    display: flex;
    align-items: center;
    font-family: var(--notosans-font);
    font-size: 16px;
    color: var(--web-white-color);
    gap: 16px;
}
.sns a i {
    font-size: 40px;
}